[Unit]
Description = ECMS Service
After       = network.target

[Service]
OOMScoreAdjust = 999
Environment    = HOME=/root
ExecStart      = /usr/bin/ecms
LimitNOFILE    = 99999
LimitSTACK     = 10485760
Restart        = on-failure

[Install]
WantedBy = multi-user.target
